@import "colors";

.grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
}

.card-item {
  & + & {
    margin-top: 10px;
  }
}

.avatar {
  background-image: url("https://ipbmafia.ru/uploads/monthly_2017_07/camera_400.png.fb69ac5f6f90010f4ad8e827cf0233ca.png");
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
}

.name {
  font-style: italic;
  font-size: 12px;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -4px;
}

.service {
  border-radius: 9px;
  padding: 1px 10px;
  //background-color: rgb(171 171 171 / 21%);
  background-color: $third-color-opacity-2;
  font-size: 12px;
  margin-bottom: 4px;

  & + & {
    margin-left: 4px;
  }
}

.btn-calendar {
  background-image: url('/assets/icons/calendar-3.svg');
  background-size: contain;
  width: 24px;
  height: 24px;
}
