<div class="header-wrapper">
  <div class="header-content gl-page-content">

    <ng-container *ngIf="currentUser$ | async">
      <div class="block-wrapper">
        <div class="link-wrapper">
          <a [routerLink]="['']"
             [routerLinkActive]="['link-active']">
            Заголовок
          </a>
        </div>
        <div class="link-wrapper">
          <a [routerLink]="['/not-auth/main']"
             [routerLinkActive]="['link-active']">
            На главную
          </a>
        </div>
      </div>

      <div class="block-wrapper">
        <div class="link-wrapper">
          <a (click)="logOut()"
             [routerLink]="['/not-auth/authorization']">
            {{ nickname$ | async }}
            Выход
          </a>
        </div>
      </div>
    </ng-container>

  </div>
</div>
