@import "content";
@import "colors";

:host {
  position: fixed;
  z-index: 120;
  width: 100%;
}

.header-wrapper {
  height: $header-height;
  background: transparent;

  &.mod-scroll {
    background: $main-background;
  }
}

.header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-wrapper {
  display: flex;
  height: 100%;
}

.link-wrapper {
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $secondary-color;
    transition: color 300ms, border-bottom-color 700ms;
    border-bottom-color: $secondary-color;
  }
}

.link-active {
  color: $secondary-color;
  border-bottom: 1px solid $secondary-color;
}
