<ng-container *ngIf="currentUser$ | async">
  <header class="header-wrapper" [class.mod-scroll]="isScroll$ | async">
    <div class="header-content gl-page-content">
      <div class="block-wrapper">
        <div class="link-wrapper" [routerLinkActive]="['link-active']">
          <a [routerLink]="['']">
            <ng-container *ngIf="(roleIsMaster$ | async)">
              Клиенты
            </ng-container>
            <ng-container *ngIf="(roleIsClient$ | async)">
              Мастера
            </ng-container>
          </a>
        </div>

        <ng-container *ngIf="roleIsMaster$ | async">
          <div class="link-wrapper" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/test']">
              Расписание
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="(roleIsClient$ | async)">
          <div class="link-wrapper" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/test']">
              Расписание
            </a>
          </div>
        </ng-container>

        <div class="link-wrapper" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/test']">
            Уведомления
          </a>
        </div>
      </div>

      <div class="block-wrapper">
        <div class="link-wrapper" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/test']">
            {{ nickname$ | async }}
          </a>
        </div>

        <div class="link-wrapper">
          <a (click)="logOut()"
             [routerLink]="['/not-auth/authorization']">
            Выход
          </a>
        </div>
      </div>
    </div>
  </header>
</ng-container>
