@import "app/common/styles/colors";
@import "app/common/styles/consts";

$left-block-width: 150px;
$right-block-width: 200px;

.search-wrapper {
  position: relative;
}

.side-block-left {
  width: $left-block-width;
  top: $padding-top-content;
  position: fixed;
  margin-left: calc((#{$left-block-width} + 40px) * -1);
}

.side-block-right-wrapper {
  width: $right-block-width;
  position: absolute;
  top: 0;
  right: calc((#{$page-content-padding-fl} + 20px) * -1);

  .side-block-right {
    width: $right-block-width;
    position: fixed;
  }
}


.block-item {
  & + & {
    margin-top: 20px;
  }
}

.input-search-wrapper {
  margin-bottom: 16px;
}

.card-wrapper {
  border-bottom: 1px solid $border-color;
  padding: 10px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
