<div class="profile-wrapper gl-page-content">
  <div class="gl-side-block-left">
    <div class="side-btn-wrapper">
      <app-main-button content="Посмотреть расписание"></app-main-button>
    </div>
    <div class="side-btn-wrapper">
      <app-main-button content="Подписаться"></app-main-button>
    </div>
  </div>

  <div class="gl-window-wrapper mod-big">
    <div class="gl-title-bookmark-wrapper">
      <h2>{{ (user$ | async).nickname }}</h2>
    </div>

    <div class="gl-window-content mod-medium">
      <app-yourself [user]="user$ | async"></app-yourself>

      <div class="services-list-wrapper">
        <button class="service" *ngFor="let service of (user$ | async).services">
          {{ service.name }}
        </button>
      </div>

      <div class="gallery-wrapper">
        <div class="photos-wrapper">
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
        </div>

        <div class="caption-wrapper">
          <a class="gl-link">16 фото</a>
        </div>
      </div>

      <div class="info-wrapper">
        <div class="caption">Информация об услуге</div>
        <div class="stickers-wrapper">
          <div class="sticker">
            Мой прайс: <br>
            Стрижка женская - 500р<br>
            Стрижка мужская - 400р<br>
            Стрижка детская - 2000р<br>
            Укладка - 700<br>
            Покраска - 2000р - 5000р
          </div>
          <div class="sticker">
            Мой адрес<br>
            Володарского, 5
          </div>
          <div class="sticker">
            Мои контакты:<br>
            Телеграм: ****<br>
            Инст: ****
          </div>
          <div class="sticker">
            Правила записи:<br>
            Без детей<br>
            Без недовольного мужа<br>
            С шоколадкой - по желанию
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
