<div class="profile-wrapper gl-page-content">
  <div class="gl-side-block-left">
    <app-main-button content="Кнопка"></app-main-button>
  </div>

  <div class="gl-window-wrapper mod-big">
    <div class="gl-title-bookmark-wrapper">
      <h2>{{ (user$ | async).nickname }}</h2>
    </div>

      <div class="gl-window-content mod-medium">
        <div class="grid-wrapper">
          <div class="left-block">
            <div class="avatar-wrapper">
              <ng-container *ngIf="(user$ | async).avatar; else NO_PHOTO">
                <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + (user$ | async).avatar + ')'}"></div>
              </ng-container>
              <ng-template #NO_PHOTO>
                <div class="avatar"></div>
              </ng-template>
            </div>
          </div>
          <div class="right-block">
            <div class="user-name-wrapper">
              <div class="user-name">
                {{ (user$ | async).lastsName }} {{ (user$ | async).firsName }}
              </div>
            </div>
            <div class="item-wrapper">
              <ng-container *ngIf="(user$ | async).city.name">
                <div class="caption">Город:</div>
                <a class="value gl-secondary-link">{{ (user$ | async).city.name }}</a>
              </ng-container>
            </div>
            <div class="item-wrapper">
              <ng-container *ngIf="(user$ | async).birthday">
                <div class="caption">День рождения:</div>
                <a class="value gl-secondary-link">{{ (user$ | async).birthday }}</a>
              </ng-container>
            </div>
            <div class="item-wrapper">
              <ng-container *ngIf="(user$ | async).gender">
                <div class="caption">Пол:</div>
                <a class="value gl-secondary-link">{{ (user$ | async).gender }}</a>
              </ng-container>
            </div>
            <div class="text-wrapper">
              <ng-container *ngIf="(user$ | async).infoYourself">
                <p class="text">{{ (user$ | async).infoYourself }}</p>
              </ng-container>
            </div>
          </div>
        </div>

        <div *ngFor="let service of (user$ | async).services">
          {{ service.name }} <br>
        </div>
      </div>
  </div>
</div>
