$main-color: #FACE50;
$secondary-color: #0883a4;
$third-color: #E66A46;

$main-color-opacity-3: rgba(250, 206, 80, .3);
$third-color-opacity-2: rgba(230, 106, 70, .2);

$main-background: linear-gradient(to top left, #decdc0, #FBF2EB);
$background-window: #f3f0ea;
$border-color: #6e5a2f;
$input-placeholder: #757575;
$box-shadow: #b1b1b1;

$sticker-yellow: #fffcc575;
