$main-color: #FACE50;
$secondary-color: #0883a4;
$third-color: #E66A46;
$main-color-opacity-3: rgba(250, 206, 80, .3);

$main-background-color: #c8b0a1;
$background-window: #E4E3DF;
$border-color: #72695a;  // #909090
$input-placeholder: #757575;
