@import "colors";
@import "consts";

.gl-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $main-background;
}

.gl-layout-content {
  padding-top: $padding-top-content;
  padding-bottom: $padding-bottom-content;
  display: flex;
  justify-content: center;
}

.gl-page-content {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: $page-content-padding-fl;
  padding-right: $page-content-padding-fl;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

.gl-link, {
  padding-bottom: 6px;
  color: $secondary-color !important;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    transition: transform 300ms ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $secondary-color;
    transform:  scaleX(0);
  }
  &:hover {
    color: $third-color !important;

    &:before {
      background: $third-color;
      transform:  scaleX(1);
    }
  }
}

.gl-error-control {
  height: 0;
  margin-top: 6px;
  color: $third-color;
  overflow: hidden;
  transition: height 400ms;
  font-size: 12px;

  &.mod-show {
    height: 14px;
  }
}

.gl-window-wrapper {
  padding: 10px;
  background: $background-window;
  border: 1px solid $border-color;
  box-shadow: 0 0 35px 0 #b1b1b1;
  border-radius: 6px;
  position: relative;

  &.mod-small {
    width: 400px;
    padding: 20px;
  }

  &.mod-medium {
    width: 600px;
  }

  &.mod-big {
    width: 800px;
  }
}

.gl-window {
  border: 2px solid $border-color;
  width: 100%;
}

.gl-stripes-block {
  position: relative;
  height: 34px;
  background: repeating-linear-gradient(-45deg, #E4E3DF, #E4E3DF 5px, $border-color 6px, $border-color 8px);
  border-bottom: 2px solid $border-color;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fffffe;
    box-shadow: 0 0 0 1px #342626, 0 0 0 12px #9c8778;
  }
}

.gl-title-bookmark-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -41px;
  right: 20px;
  height: 40px;
  padding: 0 26px;
  border: 2px solid #6e5a2f;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: $main-color;
}

.gl-auth-subtitle {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #72695a;
  padding-bottom: 10px;
}

.gl-window-content {
  padding: 20px 20px 10px 20px;

  &.mod-medium {
    padding-top: 10px;
  }
}

.gl-no-content-window-caption {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.gl-auth-radios-wrapper, .gl-auth-inputs-wrapper, .gl-auth-bnt-wrapper {
  margin-bottom: 20px;
}

.gl-auth-bnt-wrapper {
  display: flex;
  justify-content: center;
}

.gl-auth-link-wrapper {
  border-top: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-size: 14px;
}

.gl-substr {
  font-size: 12px;
}

