@import "colors";
@import "consts";

.gl-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gl-layout-header {
  flex: 0 0 auto;
}

.gl-layout-content {
  background-color: $main-background-color;
  flex: 1 1 100%;
}

.gl-layout-footer {
  flex: 0 0 auto;
}

.gl-page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.gl-page-content {
  padding-left: 100px;
  padding-right: 100px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.gl-link, .gl-link {
  padding: 6px;
  color: $secondary-color !important;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $secondary-color;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}

.gl-error-control {
  height: 0;
  margin-top: 6px;
  color: $third-color;
  overflow: hidden;
  transition: height 400ms;
  font-size: 12px;

  &.mod-show {
    height: 14px;
  }
}

.gl-window-inlet-wrapper {
  width: 400px;
  padding: 20px;
  background: $background-window;
  border: 1px solid $border-color;
  box-shadow: 0 0 40px 0 $border-color;
}

.gl-window-inlet {
  border: 2px solid $border-color;
  width: 100%;
}

.gl-stripes-block {
  position: relative;
  padding: 16px;
  background: repeating-linear-gradient(-45deg, #E4E3DF, #E4E3DF 5px, $border-color 6px, $border-color 8px);
  border-bottom: 2px solid $border-color;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fffffe;
    box-shadow: 0 0 0 1px #090606, 0 0 0 12px #9c8778;
  }
}

.gl-window-inlet-subtitle {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #72695a;
  padding-bottom: 10px;
}

.gl-window-inlet-content {
  padding: 20px 20px 10px 20px;
}

.gl-window-inlet-radios-wrapper, .gl-window-inlet-inputs-wrapper, .gl-window-inlet-bnt-wrapper {
  margin-bottom: 20px;
}

.gl-window-inlet-link-wrapper {
  border-top: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-size: 14px;
}

.gl-substr {
  font-size: 12px;
}

