@import "colors";

.gl-loader-dots {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 150ms;
  margin: auto;

  &:not(.mod-show) {
    &, &:before, &:after {
      display: none;
    }
  }

  &, &:before, &:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    animation-name: flicker;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    background-color: $secondary-color;
  }

  &:before, &:after {
    position: absolute;
    top: 0;
  }

  &:before {
    left: -12px;
  }

  &:after {
    right: -12px;
    animation-delay: 300ms;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .05;
  }

  85% {
    opacity: 1;
  }
}
