@import "src/app/common/styles/colors";
@import "src/app/common/styles/consts";



.search-wrapper {
  position: relative;
}

.block-item {
  & + & {
    margin-top: 20px;
  }
}

.input-search-wrapper {
  margin-bottom: 16px;
}

.card-wrapper {
  border-bottom: 1px solid $border-color;
  padding: 10px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
