<div class="search-wrapper gl-page-content">
  <div class="side-block-left">
    <app-main-button [link]="'/test'" content="Найти нового мастера"></app-main-button>
  </div>

  <div class="gl-window-wrapper mod-medium" infiniteScroll (scrolled)="onScroll()">
    <div class="gl-title-bookmark-wrapper">
      <h2>Мои мастера</h2>
    </div>
    <div class="gl-window">
      <div class="gl-window-content mod-medium">
        <div class="input-search-wrapper">
          <app-input type="text" placeholder="Поиск" [formControl]="searchControl"></app-input>
        </div>

        <div class="cards-list">
          <div class="card-wrapper" *ngFor="let master of (masters$ | async)">
            <app-user-card [user]="master"></app-user-card>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="side-block-right-wrapper">
    <div class="side-block-right">
      <app-filter [formFilter]="formFilter"></app-filter>
    </div>
  </div>
</div>
