@import "colors";

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.radios-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio {
  & + & {
    margin-left: 40px;
  }
}

.select-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms;
  display: inline-block;

  &.mod-show {
    max-height: 70px;
    margin-bottom: 8px;
  }
}

app-input {
  display: block;

  & + & {
    margin-top: 6px;
  }
}

.caption {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 16px;
}
