<div class="gl-page gl-page-content">
  <div class="gl-window-inlet-wrapper">
    <div class="gl-window-inlet">
      <div class="gl-stripes-block"></div>
      <div class="gl-window-inlet-content">

        <h3 class="subtitle">Регистрация</h3>
        
        <div class="radio-group-wrapper">
          <app-radio value="master" name="status" [formControl]="status" content="Мастер"></app-radio>
          <app-radio value="client" name="status" [formControl]="status" content="Клиент"></app-radio>
        </div>

        <ng-container *ngIf="status.value"><!--status.value-->
          <form class="form-wrapper" [formGroup]="form" (submit)="submit()">

            <ng-container *ngIf="status.value === 'master'"> <!--status.value === 'master'-->
              <div class="select-wrapper">
                <app-select formControlName="service" placeholder="Выберете сервис услуг" notFoundText="Услуга не найдена"></app-select>
              </div>
            </ng-container>

            <div class="inputs-wrapper">
              <app-input formControlName="name" type="text" placeholder="Имя" example="Ex. natasha_romanov"></app-input>
              <app-input formControlName="email" type="text" placeholder="email" example="Ex. pochta@gmail.ru"></app-input>
              <app-input formControlName="password" type="password" placeholder="Пароль"></app-input>
              <app-input formControlName="passwordDouble" type="password" placeholder="Повторите пароль"></app-input>
            </div>

            <div class="bnt-wrapper">
              <app-main-button content="Зарегистрироваться"></app-main-button>
            </div>
          </form>
        </ng-container>

        <div class="link-wrapper">
          <a class="gl-link" [routerLink]="['/not-auth/authorization']">Авторизация</a>
        </div>
      </div>
    </div>
  </div>
</div>
