.form-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-group-wrapper, .select-wrapper, .inputs-wrapper, .bnt-wrapper {
  margin-bottom: 20px;
}

app-radio {
  & + & {
    margin-left: 40px;
  }
}

app-input {
  display: block;

  & + & {
    margin-top: 6px;
  }
}

.link-wrapper {
  display: flex;
  justify-content: center;
}
