<div class="gl-window-inlet-wrapper">
  <div class="gl-window-inlet-background">
    <div class="gl-window-inlet">
      <div class="gl-stripes-block"></div>
      <div class="gl-window-inlet-content">

        <div class="radio-group-wrapper">
          <app-radio value="master" name="status" [formControl]="status" content="Мастер"></app-radio>
          <app-radio value="client" name="status" [formControl]="status" content="Клиент"></app-radio>
        </div>

        <ng-container *ngIf="true">
          <form class="form-wrapper" [formGroup]="form">

            <ng-container *ngIf="true">
              <div class="select-wrapper">
                <app-select formControlName="service"></app-select>
              </div>
            </ng-container>

            <div class="inputs-wrapper">
              <app-input formControlName="name" placeholder="Имя" hint="Ex. natasha_romanov"></app-input>
              <app-input formControlName="email" placeholder="email" hint="Ex. pochta@gmail.ru"></app-input>
              <app-input formControlName="password" placeholder="Пароль"></app-input>
              <app-input formControlName="passwordDouble" placeholder="Повторите пароль"></app-input>
            </div>

            <div class="bnt-wrapper">
              <app-main-button content="Зарегистрироваться"></app-main-button>
            </div>
          </form>
        </ng-container>

        <div class="link-wrapper">
          <a class="gl-link" [routerLink]="['/not-auth/authorization']">Авторизация</a>
        </div>
      </div>
    </div>
  </div>
</div>
