<h2 class="gl-auth-subtitle">Регистрация</h2>
<form class="form-wrapper" [formGroup]="form" (submit)="submit()">

  <div class="radios-wrapper gl-auth-radios-wrapper">
    <div>
      <app-radio class="radio" value="MASTER" name="role" formControlName="role"
                 content="Мастер">
      </app-radio>
      <app-radio class="radio" value="CLIENT" name="role" formControlName="role"
                 content="Клиент">
      </app-radio>
    </div>
    <div *ngIf="form.controls.role" class="gl-error-control"
         [class.mod-show]="form.controls.role.invalid && form.controls.role.touched">
      <ng-container *ngIf="form.controls.role.hasError('required')">
        Обязательно для заполнения!
      </ng-container>
    </div>
  </div>

  <div class="gl-auth-inputs-wrapper">
    <app-input formControlName="nickname" type="text" placeholder="Nickname" example="Ex. natasha_romanov"></app-input>
    <app-input formControlName="email" type="text" placeholder="email"
               example="Ex. pochta@gmail.ru"></app-input>
    <app-input formControlName="password" type="password" placeholder="Пароль"></app-input>
    <app-input formControlName="passwordDouble" type="password" placeholder="Повторите пароль"></app-input>
  </div>

  <div class="gl-auth-bnt-wrapper">
    <app-main-button content="Зарегистрироваться"></app-main-button>
  </div>
</form>

<div class="gl-auth-link-wrapper">
  <div class="gl-substr">Есть учетная запись?</div>
  <a class="gl-link" [routerLink]="['/not-auth/authorization']">Вход</a>
</div>

