@import 'colors';

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input{
  padding: 20px 8px 8px 8px;
  font-size: 16px;
  //border-radius: 100px;
  //border-bottom: 4px solid $border-color;
  //border-right: 4px solid $border-color;
  //border-top: 1px solid $border-color;
  //border-left: 1px solid $border-color;
  background-color: $main-background-color;
  border-bottom: 4px dotted $border-color;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    & + .input-placeholder {
      top: -2px;
      left: 0;
      color: $border-color;
    }

    &::placeholder {
      color: $input-placeholder;
    }
  }
}

.placeholder {
  position: absolute;
  top: 40%;
  left: 8px;
  color: $input-placeholder;
  transition: top 400ms, left 400ms;

  &.mod-top {
    top: -2px;
    left: 0;
    color: $border-color;
  }
}
