@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat-bold.ttf');
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}
