@import 'colors';

.select-wrapper {
  position: relative;
}

.title, .options-wrapper {
  width: 240px;
  background-color: #ffffff;
  cursor: pointer;
}

.title, .option {
  padding: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.title {
  position: relative;
  color: $input-placeholder;
  border: 1px solid $border-color;
  border-radius: 8px;
  transition: border-radius 2s;

  &.mod-border {
    border-radius: 8px 8px 0 0;
    transition: none;
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    display: inline-block;
    border-top-color: #bd8800;
    border-bottom: 0;
  }
}

.options-wrapper {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: max-height 600ms;
  z-index: 1;

  &.mod-show {
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    border-radius: 0 0 8px 8px;
    border-bottom: 1px solid $border-color;
  }
}

.option {
  color: #000000;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  &:hover {
    background-color: #BEFDE6;
  }

  input {
    display: none;
  }
}
