<div class="content-wrapper">
  <ng-select #ngSelectComponent
             [ngModel]="value"
             (ngModelChange)="updateValue($event)"
             [placeholder]="placeholder"
             notFoundText="{{ notFoundText }}"
             [clearable]="false"
             [multiple]="true"
             [closeOnSelect]="false"
             (blur)="blur()">
    <ng-option *ngFor="let item of (servicesList$ | async)" [value]="item.id">{{item.name}}</ng-option>
  </ng-select>

  <div *ngIf="control" class="gl-error-control" [class.mod-show]="control.invalid && control.touched">
    <ng-container *ngIf="control.hasError('required')">
      Обязательно для заполнения!
    </ng-container>
  </div>
</div>
