@import "colors";

$diameter-input-radio: 20px;

.input-radio-wrapper {
  cursor: pointer;
  input {
    display: none;

    &:checked {
      + .input-radio-content {
        &:before {
          position: absolute;
          content: '';
          width: calc(#{$diameter-input-radio} / 2);
          height: calc(#{$diameter-input-radio} / 2);
          top: calc(#{$diameter-input-radio} / 4);
          left: calc(#{$diameter-input-radio} / 4);
          background-color: $border-color;
          border-radius: 100px;
          z-index: 2;
        }
      }
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.input-radio-content {
  position: relative;
  padding-left: 28px;

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: $diameter-input-radio;
    height: $diameter-input-radio;
    border-radius: 100px;
    background-color: #ffffff;
    border: 2px solid $border-color;
    z-index: 1;
  }
}
