<h3 class="gl-auth-subtitle">Вход в TimeTable</h3>
<form class="form-wrapper" [formGroup]="form" (submit)="submit()">
  <div class="gl-auth-inputs-wrapper">
    <app-input formControlName="login" type="text" placeholder="Имя или email"
               example="Ex. natasha_romanov"></app-input>
    <app-input formControlName="password" type="password" placeholder="Пароль"></app-input>
  </div>

  <div class="gl-auth-bnt-wrapper">
    <app-main-button content="Войти"></app-main-button>
  </div>
</form>

<div class="gl-auth-link-wrapper">
  <div class="gl-substr">Нет учетной записи?</div>
  <a class="gl-link" [routerLink]="['/not-auth/registration']">Зарегистрироваться</a>
</div>
