<!--<div class="gl-window-inlet-wrapper">-->
<!--  <div class="gl-window-inlet">-->
<!--    <mat-radio-group>-->
<!--      <mat-radio-button class="gl-window-inlet-radio" value="1">Мастер</mat-radio-button>-->
<!--      <mat-radio-button class="gl-window-inlet-radio" value="2">Клиент</mat-radio-button>-->
<!--    </mat-radio-group>-->

<!--    <mat-form-field class="gl-input-wrapper">-->
<!--      <mat-label>Имя</mat-label>-->
<!--      <input type="text" matInput placeholder="Имя" autocomplete="off">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="gl-input-wrapper">-->
<!--      <mat-label>Пароль</mat-label>-->
<!--      <input type="password" matInput placeholder="Пароль" autocomplete="off">-->
<!--    </mat-form-field>-->

<!--    <div class="gl-inlet-window-link-wrapper">-->
<!--      <a class="gl-link" [routerLink]="['/not-auth/registration']">Нет аккаунта. Зарегистрироваться</a>-->
<!--    </div>-->

<!--    <section>-->
<!--      <div class="gl-btn-wrapper">-->
<!--        <button type="submit" mat-raised-button color="primary">Войти</button>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</div>-->
